* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 120px;
   width: 320px;
   /* max-width: 320px; */
    background-color: #121212;
    /* padding: 5px 12px; */
    margin-top: 5px;
    border-radius: 10px;
    gap: 15px;

}
.box1a {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    /* background-color: red; */
    align-items: center;
    cursor: pointer;
}

.searchlogo {
    font-size: 25px;
    color: #b3b3b3;
}

.box1a:hover .searchlogo {
    color: white;
}

.box1a:hover .search {
    color: white;

}

.search {
    font-size: 17px;
    text-transform: capitalize;
    color: #b3b3b3;
    font-weight: bold;
}

.box1b {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: orange; */
    cursor: pointer;
    width: 150px;
}

.homelogo {
    font-size: 25px;
    color: white;
}

.home {
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}

.box2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 150px;
    height: 100vh;
    width: 320px;
    background-color: #121212;
    border-radius: 10px;
    color: #b3b3b3;
}

.krk {
    display: flex;
    gap: 20px;
}

.box2a {
    display: flex;
    height: 30px;
    width: 60%;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.peelus {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 70px
}

.box2a:hover {
    color: white;
}

.librarylogo {
    font-size: 28px;
    cursor: pointer;
}

.labname {
    font-size: 17px;
    font-weight: bold;
    height: 25px;
    cursor: pointer;
}

.box2b {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;

}

.box2b:hover {

    color: white;
}

.plus {
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.cookies {
    cursor: pointer;
}

.privacy {
    cursor: pointer;
}

.cook {
    cursor: pointer;
    text-decoration: underline;
}

.box3 {
    height: 555px;
    width: 99%;
    border-radius: 10px;
    background-color: #121212;
    overflow-y: auto;


}

.textcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-grow: 2; */
    gap: 62%;
}
.textcontainerspotify {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-grow: 2; */
    /* background-color: aqua; */
    gap: 54%;
}
.textcontainerspotify4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-grow: 2; */
    /* background-color: aqua; */
    gap: 54%;
}

.focus {
    font-size: 25px;
    color: white;
    font-weight: bolder;
    display: flex;
    cursor: pointer;
}

.focus:hover {
    text-decoration: underline;
}

.show {
    color: #b3b3b3;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}

.show:hover {
    text-decoration: underline;
}


.textand {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photocontainer {
    width: 170px;
    height: 260px;
    background-color: #242424;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.photocontainer:hover {
    background-color: rgba(156, 156, 156, 0.438);
}

.playingful {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    background-color: rgb(37, 216, 101);

    display: none;
    right: 20px;
    animation: gaayabbutt;
    animation-duration: 0.2s;
}

.photocontainer:hover .playingful {
    display: block;
    transition: all 0.2s ease-in;
}

@keyframes gaayabbutt {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: scale(1);
    }
}

.firstimagea {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

.firstimage {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 170px;
    justify-content: space-evenly;
    align-items: center;
}

.badacontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.instrumental {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.focuswith {
    color: #b3b3b3;
    font-size: 15px;
}

.musicin {
    color: #b3b3b3;
    font-size: 15px;
}


.box4 {
    height: 62px;
    width: 98.5%;
    /* margin-bottom: 200px;     */
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 350px;

}

.containerfirst {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerfirst :last-child {
    font-weight: bolder;
}

.ofpreview {
    text-transform: uppercase;
    font-size: 15px;
}

.forfree {
    font-size: 15px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.box5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    width: 99%;
    color: white;
    background: #121212;
    position: absolute;
    z-index: 1;
    border-radius: 10px 10px 0px 0px;
    top: 6px;
}

.box6 {
    display: flex;
    gap: 20px;
}

.box6a {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    gap: 28px;
}

.signup {
    font-size: 15px;
    color: #b3b3b3;
    cursor: pointer;
    font-weight: bold;
   min-width: 10%;
    background-color: #121212;
    /* background-color: red; */
    border: none;
}

.signup:hover {
    font-size: 15.5px;
    font-weight: bold;
    color: white;

}

.login {
    background-color: rgba(251, 241, 241, 58);
    font-size: 15px;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    cursor: pointer;
    border: none;

}

.login:hover {
    font-size: 15.5px;
    font-weight: bold;
    background-color: white;
    height: 53px;
    width: 123px;
    border: none;

}

.leftarrow {
    font-size: 25px;
    font-weight: lighter;
    color: #b3b3b3;
    cursor: not-allowed;
}

.rightarrow {
    font-size: 25px;
    font-weight: lighter;
    color: #b3b3b3;
    cursor: not-allowed;
}

.box7container {
    position: absolute;
    height: 150px;
    color: white;
    background-color: #242424;

    width: 100%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 20px;
}

.box8container {
    position: absolute;
    top: 180px;
    height: 180px;
    color: white;
    background-color: #242424;

    width: 100%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.create {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-shrink: 2;
    font-size: 18px;
    font-weight: bold;

}

.easy {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-shrink: 2;
    font-size: 15px;
    font-weight: bold;

}

.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 38px;

    font-size: 15px;
    border-radius: 15px;

}

.playlist:hover {

    background-color: white;
    color: black;
    font-weight: 500;
    width: 82%;
    height: 40px;

}

.buttonfirst {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 35px;

}

.lets {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 95%;

}

.will {
    display: flex;
    justify-content: center;
    width: 95%;


}

.browse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 38px;

    font-size: 15px;
    border-radius: 15px;
}

.buttonsecond {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 35px;
}

.box9parent {

    min-width: 100%;
    height: 10rem;
    color: #b3b3b3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
    /* background-color: red; */
    /* background-color: orange; */
   

}

.box9container {
    display: flex;
    /* flex-direction: column; */
    gap: 11px;
    width: 300px;
    justify-content: center;
    /* background-color: red; */

}

.box10container {
    display: flex;
    gap: 9px;
    width: 278px;
    justify-content: center;
    /* background-color: aqua; */
}

.cook {
    display: flex;
    gap: 15px;
    width: 100px;
    justify-content: center;
    /* background-color: yellow; */


}

.buttonthird {

    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.buttonfourth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 35px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #121212;
    outline: 1px solid white;
    cursor: pointer;
    gap: 5px;
}

.globelogo {
    font-size: 17px;
}

.en {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.footcompo {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 100px;
}

.comuni {
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.compi {
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.art:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.suppor:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.job:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.lin {
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socil {
    color: white;
    display: flex;
    font-size: 22px;
    gap: 15px;
}

.soinsta {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.soinsta:hover {
    background-color: rgb(114, 114, 114);
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 99%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.line {
    width: 90%;
    height: 20px;
}

.ab {
    width: 90%;
}

.pappa {
    width: 100%;
}

.box12 {
    display: none;
}

.main {
    height: "auto"
}

.parenttop {
    display: none;
}

.wrapper {
    display: none;
}

.wrapper1 {
    display: none;
}

.wrapper2 {
    display: none;
}

.badedada {
    display: none;
}
.badacontainers{
    display: none   ;
}

.plusplaylist {
    position: absolute;
    background-color: #242424;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    justify-content: space-evenly;
    outline: 2px solid #121212;
    top: 50px;
    z-index: 9;
    left: 100px;
}
.hamshifirst{
    display: none;
}
#reszero{
    display: none;
}
